
.roster-board {
    position: relative;
    height: calc(100vh - 86px);
    background-color: bisque;
    overflow: initial;
}

.scroll-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30px;
    border: 2px solid green;
}

.board-body {
    z-index: 8;
}

.board-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgb(112, 161, 180);
}

.board-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(135, 226, 132);
}

.weekly-view .employ-view {
    height: 100px;
    border: 1px solid red;
}

.weekly-view .roster-employee {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
}

.weekly-view .day-wrapper {
    margin-left: 200px;
    width: calc(100% - 200px);
    position: relative;
}


.weekly-view .day {
    width: 14.28%;
    position: relative;
}